@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --sm-br: 0.5rem;
  --md-br: 1rem;
  --sm-gap: 0.5rem;
  --md-gap: 1.5rem;
  --typical-padding: 0.75rem 1rem;
  --base-clr: hsl(0, 0%, 100%);
  --base-clr-transparent: hsla(0, 0%, 100%, 0.4);
  --fill-clr: hsl(227, 24%, 7%);
  --fill-clr-transparent: hsla(233, 22%, 7%, 0.3);
  --second-accent-clr: rgb(255, 0, 60);
  --third-accent-clr: #a9ff20;
}
body {
  display: grid;
  justify-items: center;
  background-color: var(--fill-clr);
  background-image: radial-gradient(circle at 50% 200%, var(--second-accent-clr) 0%, var(--fill-clr) 100%);
  color: var(--base-clr);
  font-family: "Quicksand", sans-serif;
}
a {
  color: inherit;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}
a:hover,
a:focus,
a:focus-within {
  opacity: 0.8;
}

.container {
  display: grid;
  align-content: start;
  justify-items: center;
  gap: var(--md-gap);
  max-width: 26rem;
  min-height: 100dvh;
  padding: var(--sm-gap);
  overflow: clip;
}
main {
  display: grid;
  align-items: start;
  gap: var(--md-gap);
}
h1 {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
  /* color: #a9ff20; */
  font-weight: bold;
}
h3 {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
}
.input-group {
  display: grid;
  align-items: start;
  grid-template-columns: auto auto;
  gap: var(--sm-gap);
}
.input__form {
  display: grid;
  align-items: start;
  gap: var(--sm-gap);
}
.input__form-first-line {
  display: grid;
  align-items: start;

  grid-template-columns: 1fr auto;
  gap: var(--sm-gap);
}
input[type="number"] {
  width: 100%;
  padding: var(--typical-padding);
  font-size: 1.5rem;
  background-color: var(--base-clr);
  border-radius: var(--sm-br);
  outline: solid 0.13rem transparent;
  transition: 0.2s ease-in-out;
}
input[type="number"]:hover {
  outline: solid 0.13rem var(--base-clr-transparent);
}
input[type="number"]:focus-within {
  outline: var(--base-clr) solid 0.13rem;
}
.operators {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--sm-gap);
}
button {
  height: 100%;
  background-color: var(--fill-clr);
  padding: var(--typical-padding);
  border: var(--fill-clr) solid 0.13rem;
  outline: var(--fill-clr) solid 0.13rem;
  border-radius: var(--sm-br);
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}
button:hover {
  border: var(--fill-clr) solid 0.13rem;
  outline: var(--base-clr-transparent) solid 0.13rem;
}
button:focus-within {
  border: var(--fill-clr) solid 0.13rem;
  outline: var(--base-clr) solid 0.13rem;
}
button:active {
  background-color: var(--fill-clr-transparent);
  border: var(--fill-clr) solid 0.13rem;
  outline: var(--base-clr) solid 0.13rem;
}
.btn-active {
  background-color: var(--base-clr);
  color: var(--fill-clr);
  font-weight: bold;
}
.copied {
  background-color: var(--base-clr);
  color: var(--fill-clr);
  cursor: default;
  outline: var(--base-clr) solid 0.13rem;
}
.actions {
  display: grid;
  gap: var(--sm-gap);
  grid-template-columns: 1.7fr 1fr;
}
#clear {
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding: 1rem;
  line-height: 0.75;
}
#clear div:first-child {
  text-align: left;
}
#clear div:last-child {
  writing-mode: vertical-rl;
  font-size: 1rem;
}

#result {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: default;
}
footer {
  margin-top: 3rem;
  display: grid;
  gap: var(--md-gap);
  color: var(--base-clr);
}
footer > p {
  opacity: 0.6;
  text-align: center;
  font-size: 1rem;
}
.svg-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
svg {
  display: block;
  max-width: 100%;
  height: 2rem;
  fill: currentColor;
}
